#ignore object files and binaries
**.o
**/cash_movie
**/test
**/output
**/surf_512_D0.1_Rrep1_Rdec0.02_Drep1_Ddec0.02_maxAD1_with-par/
**/centralDogma_surface_2022/.R*
**/nobuto-surf
**/.*
vgcore.*
CenSur
compile_commands.json
